body {
	background-color:  #808486;
	color:#ffffff;
	font: 17px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
}


.container {
	width: 80%;
	margin: auto;
	overflow: auto;
}



#top-header {
	background-color: #0c0c0c;
	color:#ffffff;
	
}

#links {
	background-color: #000801;
	text-align: right;
}

#links a {
	color:#ffffff;
	text-align: right;
}

#links li {
	display: inline;
}




#image {
	
	float: right;
	height : 50vh;
	width : 30%;
	background-image : url('2.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	background-position: center;
	
}

#message-box1 {

	float: left;
	width: 50%;	
	margin-top: 15px;

	}

#message-box2 {

	float: left;
	width: 30%;
    margin-top: 217px;

	
	}

#message-box3 {

	float: left;
	width: 40%;
	margin-top: 217px;
	
	}

#message-box4 {

	float: left;
	width: 30%;
	margin-top: 70px;
	
	}	
	
#sidewall {
	float: left;
	width: 30%;
	margin-top: 15px;
	padding: 5px;
	box-sizing: border-box;
	}
	

	
#main-footer {
	text-align: center;
	padding: 15px;
	margin-top: 150px;
}
}












